
.img-2 {

  width:  100px;
  height: 100px;
  background-size: cover;
}
#player{
  margin: 10%;
}


body{
  background: url("../assets/texture.jpg");
  background-color: #CAB88F;
  margin:5%;
  font-family:monospace;
}
@media only screen and (min-width: 0) { 
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet:  
  * 768px = 48em 
*/
@media only screen and (min-width: 24em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop: 
  * 1152px = 72em
*/
@media screen and (min-width: 72em)  { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}

/* Wide Desktop: 
  * 1440px = 90em
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Wide Desktop Size";
  }

}




@media only screen 
  and (min-width: 0) 
  and (max-width: 48em)  { 
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Mobile Size";
    }
    
    .cast {
      text-align: center;
      justify-content: center;
    }
    .info{
      font-size: 14px;
      font-weight: bold;
    }
  
}

/* Tablet:  
  * 768px = 48em 
    1023px = 63.9375em;
*/
@media only screen 
  and (min-width: 48em) 
  and (max-width: 64em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  } 

    .cast{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body{
    text-align: center;
  }
  .info{
    font-size: 16px;
    font-weight: bold;
  }
}

/* Desktop: 
  * 1024px = 64em
  * 64em and larger
*/
@media screen 
  and (min-width: 64em) 
  and (max-width: 90em) { 
    
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }
  .cast{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body{
    text-align: center;
  }
  header{
    font-weight: bold;
    font-size: 20px;
  }
  .info{
    font-size: 17px;
    font-weight: bolder;
  }

}

/* Wide Desktop: 
  * 1440px = 90em
  * 90em and wider
*/
@media screen and (min-width: 90em) { 
  
  body:before {
       background: yellow;
       content: "Wide Desktop Size";
  }
  header{
    font-weight: bold;
    font-size: 25px;
  }
  .cast{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body{
    text-align: center;
  }
  .info{
    font-size: 19px;
    font-weight: bolder;
  }

}

