
.img-2 {

  width:  100px;
  height: 100px;
  background-size: cover;
}
#player{
  margin: 10%;
}


body{
  background: url("../assets/texture.png");
  background-color: #CAB88F;
  margin:5%;
  font-family:monospace;
  background-blend-mode: lighten;
}
@media only screen and (min-width: 0) { 
  
}

@media only screen and (min-width: 24em)  {
}

@media screen and (min-width: 72em)  {

}

@media screen and (min-width: 90em) { 

}




@media only screen 
  and (min-width: 0) 
  and (max-width: 48em)  { 
    
    .cast {
      text-align: center;
      justify-content: center;
    }
    .info{
      font-size: 14px;
      font-weight: bold;
    }
  
}
@media only screen 
  and (min-width: 48em) 
  and (max-width: 64em)  {


    .cast{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body{
    text-align: center;
  }
  .info{
    font-size: 16px;
    font-weight: bold;
  }
}

@media screen 
  and (min-width: 64em) 
  and (max-width: 90em) { 

  .cast{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body{
    text-align: center;
  }
  header{
    font-weight: bold;
    font-size: 20px;
  }
  .info{
    font-size: 17px;
    font-weight: bolder;
  }

}

@media screen and (min-width: 90em) {
  
  header{
    font-weight: bold;
    font-size: 25px;
  }
  .cast{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  body{
    text-align: center;
  }
  .info{
    font-size: 19px;
    font-weight: bolder;
  }

}

